html{
    --color-1: #463220;
    --color-2: #66593c;
    --color-3: #eceadd;
    --color-4: #f7f8f5;
    --color-5: #ffffff;
    --gap-s: 0.625rem;
    --gap: 1.25rem; 


}
body{
    font-family: sans-serif;
    margin: 0px;
    color: var(--color-2);
    background-color: var(--color-4);
}

.box{
    padding: var(--gap);
    border-radius: var(--gap);
    background-color: var(--color-5);
}

button{
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

h1, h2, h3{
    font-weight: 600px;
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.flex{
    display: flex;
    gap: var(--gap);
}

.flex > *{
    flex: 1;


}

.mb{
    margin-bottom: var(--gap);
}

.bg-1{
    background-color: var(--color-1);
}

.bg-2{
    background-color: var(--color-2);
}

.bg-3{
    background-color: var(--color-3);
}

.bg-4{
    background-color: var(--color-4);
}

.bg-5{
    background-color: var(--color-5);
}

.container{
    display: grid;
    gap: var(--gap);
    padding: var(--gap);
    grid-template-columns: 240px auto;
}

/* --- Vendas --*/

.pago{
  background: #ccd5d0;
  color: green;    
}
.processando{
  background: #d3cdb0;
  color: orange;
}

.falha{
  background: #dba8a3;
  color: red ;      
  
}

.pago, .processando, .falha {
  text-transform: capitalize;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border-radius: var(--gap);
}

.pagination{
    background: var(--color-2);
    color: white;
    border-radius: var(--gap);
    cursor: pointer;
    padding: 8px 16px;
    border: none;
}

.controlPag{
     display: flex; 
     justify-content: center;
     align-items: center;
     gap: var(--gap);
     margin-top: 20px;
}

.number{
    color: var(--color-1);
}

/*-- Sidnav --*/

.sidenav li{
  display: flex;
  align-items: center;
  justify-Content: center;
  margin-bottom: var(--gap-s);
}

.sidenav li span{
  background: var(--color-4);
  display: flex;
  align-items: center;
  justify-Content: center;
  border-radius: var(--gap);
  width: 2rem;
  height: 2rem;
}
.sidenav li a{
    flex:1;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--color-1);
    padding: var(--gap-s) 0 ;
    margin-left: 2px;
}
.sidenav li:hover span{
    background: var(--color-3);
}

.daterange{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}

.tx{
    color: var(--color-2);
    font-weight: 600;
}

/* -- Loading --*/

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}


/* small screen */

@media (max-width: 1000px) {
  .resumo {
    flex-direction: column;
  }
  .daterange {
    grid-template-columns: 1fr;
  }
  .daterange *:last-child {
    grid-row: 1;
  }
}

@media (max-width: 700px) {
  html {
    --gap-s: 0.5rem;
    --gap: 0.75rem;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .flex {
    flex-direction: column;
  }
  .sidenav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sidenav li a {
    font-size: 0.875rem;
  }
  .venda {
    grid-template-columns: 1fr;
  }
  .venda div:last-child {
    justify-self: start;
  }
}
